<div class="container">
    <div class="title-container">
      <h1>Registro de Escuelas</h1>
    </div>
    <div>
      <form class="example-form" [formGroup]="form" (submit)="aceptar()">
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>Código</mat-label>
          <input matInput formControlName="hcodigo" readonly="readonly"/>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Nombre de Escuela</mat-label>
          <input matInput placeholder="Nombre" formControlName="hnombre" />
        </mat-form-field>
        <br />

        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Direccion</mat-label>
          <input matInput placeholder="Direccion" formControlName="hdireccion" />
        </mat-form-field>
        <br />

        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Telefono</mat-label>
          <input matInput placeholder="Telefono" formControlName="htelefono" />
        </mat-form-field>
        <br />

        <mat-form-field class="example-full-width">
          <mat-label>Ruc</mat-label>
          <input matInput placeholder="Ruc" formControlName="hruc"/>
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width">
          <mat-label>Imagen</mat-label>
          <input matInput placeholder="URL de imagen" formControlName="himagen" />
        </mat-form-field>
        <br />
        <div>
          <button mat-flat-button class="custom-button">Aceptar</button>
        </div>
      </form>
    </div>
  </div>