.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .title-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .title-container h1 {
    color: #333;
    font-size: 2em;
    font-weight: bold;
  }
  
  .table-container {
    overflow-x: auto;
  }
  
  .custom-table {
    width: 100%;
    background-color: white;
    border-radius: 8px;
  }
  
  .custom-header {
    background-color: #1976d2 !important;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
  }
  
  .mat-cell, .mat-header-cell {
    padding: 16px;
    text-align: center;
  }
  
  .image-cell {
    width: 80px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .action-icon {
    cursor: pointer;
    font-size: 1.2em;
    transition: transform 0.2s ease-in-out;
  }
  
  .action-icon:hover {
    transform: scale(1.2);
  }
  
  .delete-icon {
    color: #f44336;
  }
  
  .edit-icon {
    color: #4caf50;
  }
  
  .custom-paginator .mat-paginator-range-label,
  .custom-paginator .mat-paginator-page-size-label {
    color: #333;
    font-weight: bold;
  }
  
  .custom-paginator .mat-paginator-icon {
    color: #1976d2;
  }
  
  .mat-paginator-page-size-options {
    margin: 0 10px;
  }
  