<div class="container">
    <h1>Registro de Dirección</h1>
  
    <form [formGroup]="form" (ngSubmit)="aceptar()" class="example-form">
      <!-- Campo para la calle -->
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Calle</mat-label>
        <input matInput formControlName="hcalle" placeholder="Ingresa la calle" />
        <mat-error *ngIf="form.get('hcalle')?.invalid && form.get('hcalle')?.touched">
          La calle es requerida
        </mat-error>
      </mat-form-field>
  
      <!-- Campo para la ciudad -->
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Ciudad</mat-label>
        <input matInput formControlName="hciudad" placeholder="Ingresa la ciudad" />
        <mat-error *ngIf="form.get('hciudad')?.invalid && form.get('hciudad')?.touched">
          La ciudad es requerida
        </mat-error>
      </mat-form-field>
  
      <!-- Campo para el país -->
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>País</mat-label>
        <input matInput formControlName="hpais" placeholder="Ingresa el país" />
        <mat-error *ngIf="form.get('hpais')?.invalid && form.get('hpais')?.touched">
          El país es requerido
        </mat-error>
      </mat-form-field>
  
      <!-- Campo para latitud -->
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Latitud</mat-label>
        <input matInput formControlName="hlatitud" placeholder="Ingresa la latitud" />
        <mat-error *ngIf="form.get('hlatitud')?.invalid && form.get('hlatitud')?.touched">
          La latitud es requerida
        </mat-error>
      </mat-form-field>
  
      <!-- Campo para estado/provincia -->
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Estado/Provincia</mat-label>
        <input matInput formControlName="hestadProvincia" placeholder="Ingresa el estado o provincia" />
        <mat-error *ngIf="form.get('hestadProvincia')?.invalid && form.get('hestadProvincia')?.touched">
          El estado/provincia es requerido
        </mat-error>
      </mat-form-field>
  
      <!-- Campo para código postal -->
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Código Postal</mat-label>
        <input matInput formControlName="hcodigoPostal" placeholder="Ingresa el código postal" />
        <mat-error *ngIf="form.get('hcodigoPostal')?.invalid && form.get('hcodigoPostal')?.touched">
          El código postal es requerido
        </mat-error>
      </mat-form-field>
  
      <!-- Campo para longitud -->
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Longitud</mat-label>
        <input matInput formControlName="hlongitud" placeholder="Ingresa la longitud" />
        <mat-error *ngIf="form.get('hlongitud')?.invalid && form.get('hlongitud')?.touched">
          La longitud es requerida
        </mat-error>
      </mat-form-field>
  
      <!-- Campo para usuario -->
      <mat-form-field appearance="outline" class="mat-form-field full-width">
        <mat-label>Usuario</mat-label>
        <mat-select formControlName="huser">
          <mat-option *ngFor="let p of listaUsuarios" [value]="p.id">
            {{ p.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Campo para escuela -->
      <mat-form-field appearance="outline" class="mat-form-field full-width">
        <mat-label>Escuela</mat-label>
        <mat-select formControlName="hescuela">
          <mat-option *ngFor="let p of listaEscuelas" [value]="p.idescuela">
            {{ p.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" class="custom-button">
          Aceotar
        </button>
      </div>
    </form>
  </div>
  