.custom-toolbar {
  background-color: #004d99;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}


.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF4D32; /* Fondo blanco o el color de tu elección */
  border-radius: 12px; /* Borde redondeado del contenedor */
  padding: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}

.logo-img {
  height: 40px; /* Ajusta el tamaño según sea necesario */
  width: auto;
}


 .custom-menu-item {    
  color: black;   
  &:hover {  
   color: #FF4D32; 
    }

 }

.mat-icon {
  margin-right: 8px;
}

.menu-section-title {
  font-weight: bold;
  color: #ff4d32;
  font-size: 14px;
  margin-top: 5px;
  padding: 0 20px;
}

.mat-menu-content {
  padding: 5px 10px;
}

.custom-menu-item:hover {
  background-color: #ff4d32 !important;
  color: #fff !important;
}
