<mat-toolbar class="custom-toolbar">
  <!-- Menú en la izquierda -->
  <div class="menu-left">
    <button mat-button [matMenuTriggerFor]="mainMenu" style="color: #ff4d32">
      <mat-icon>menu</mat-icon> Información del negocio 
    </button>
  </div>

  <!-- Logo en la derecha -->
  <div class="logo-container">
    <img src="assets/images/logoEd.png" alt="Logo Easy Drive" class="logo-img">
  </div>
</mat-toolbar>

<!-- Menú principal -->
<mat-menu #mainMenu="matMenu">
  <p class="menu-section-title">Módulos</p>
  <button mat-menu-item [matMenuTriggerFor]="menuServicios" class="custom-menu-item">
    <mat-icon>build_circle</mat-icon> Servicios
  </button>
  <button mat-menu-item [matMenuTriggerFor]="menuCentros" class="custom-menu-item">
    <mat-icon>medical_services</mat-icon> Centros Médicos
  </button>
  <button mat-menu-item [matMenuTriggerFor]="menuUsuarios" class="custom-menu-item">
    <mat-icon>group</mat-icon> Usuarios
  </button>
  <button mat-menu-item [matMenuTriggerFor]="menuEscuelas" class="custom-menu-item">
    <mat-icon>school</mat-icon> Escuelas
  </button>
  <button mat-menu-item [matMenuTriggerFor]="menuPromociones" class="custom-menu-item">
    <mat-icon>monetization_on</mat-icon> Promociones
  </button>
  <button mat-menu-item [matMenuTriggerFor]="menuNotificaciones" class="custom-menu-item">
    <mat-icon>vibration</mat-icon> Notificaciones
  </button>
</mat-menu>

<!-- Submenú Servicios -->
<mat-menu #menuServicios="matMenu">
  <p class="menu-section-title">Servicios</p>
  <button mat-menu-item routerLink="/servicios" class="custom-menu-item">
    <mat-icon>list</mat-icon> Listar Servicios
  </button>
  <button mat-menu-item routerLink="/servicios/nuevo" class="custom-menu-item">
    <mat-icon>add_circle</mat-icon> Registrar Servicio
  </button>
  <button mat-menu-item [matMenuTriggerFor]="menuServiciosInsights" class="custom-menu-item">
    <mat-icon>analytics</mat-icon> Insights
  </button>
</mat-menu>

<!-- Submenú Insights de Servicios -->
<mat-menu #menuServiciosInsights="matMenu">
  <p class="menu-section-title">Insights de Servicios</p>
  <button mat-menu-item routerLink="/servicios/queries" class="custom-menu-item">
    <mat-icon>query_stats</mat-icon> Mostrar Queries
  </button>
</mat-menu>

<!-- Submenú Centros Médicos -->
<mat-menu #menuCentros="matMenu">
  <p class="menu-section-title">Centros Médicos</p>
  <button mat-menu-item routerLink="/centrosmedicos" class="custom-menu-item">
    <mat-icon>local_hospital</mat-icon> Listar Centros Médicos
  </button>
  <button mat-menu-item routerLink="/centrosmedicos/nuevo" class="custom-menu-item">
    <mat-icon>add_circle</mat-icon> Registrar Centro Médico
  </button>
  <button mat-menu-item [matMenuTriggerFor]="menuCentrosInsights" class="custom-menu-item">
    <mat-icon>analytics</mat-icon> Insights
  </button>
</mat-menu>

<!-- Submenú Insights de Centros Médicos -->
<mat-menu #menuCentrosInsights="matMenu">
  <p class="menu-section-title">Insights de Centros Médicos</p>
  <button mat-menu-item routerLink="/centrosmedicos/queries" class="custom-menu-item">
    <mat-icon>query_stats</mat-icon> Mostrar Queries
</button>
</mat-menu>

<!-- Submenú Usuarios -->
<mat-menu #menuUsuarios="matMenu">
  <p class="menu-section-title">Usuarios</p>
  <button mat-menu-item routerLink="/usuarios" class="custom-menu-item">
    <mat-icon>person</mat-icon> Listar Usuarios
  </button>
  <button mat-menu-item routerLink="/usuarios/nuevo" class="custom-menu-item">
    <mat-icon>person_add</mat-icon> Registrar Usuario
  </button>
  <button mat-menu-item [matMenuTriggerFor]="menuUsuariosInsights" class="custom-menu-item">
    <mat-icon>analytics</mat-icon> Insights
  </button>
</mat-menu>

<!-- Submenú Insights de Usuarios -->
<mat-menu #menuUsuariosInsights="matMenu">
  <p class="menu-section-title">Insights de Usuarios</p>
  <button mat-menu-item routerLink="/usuarios/queries" class="custom-menu-item">
    <mat-icon>query_stats</mat-icon> Mostrar Queries
  </button>
</mat-menu>

<!-- Submenú Escuelas -->
<mat-menu #menuEscuelas="matMenu">
  <p class="menu-section-title">Escuelas</p>
  <button mat-menu-item routerLink="/escuelas" class="custom-menu-item">
    <mat-icon>library_books</mat-icon> Listar Escuelas
  </button>
  <button mat-menu-item routerLink="/escuelas/nuevo" class="custom-menu-item">
    <mat-icon>add_circle</mat-icon> Registrar Escuelas
  </button>
  <button mat-menu-item [matMenuTriggerFor]="menuEscuelasInsights" class="custom-menu-item">
    <mat-icon>analytics</mat-icon> Insights
  </button>
</mat-menu>

<!-- Submenú Insights de Escuelas -->
<mat-menu #menuEscuelasInsights="matMenu">
  <p class="menu-section-title">Insights de Escuelas</p>
  <button mat-menu-item routerLink="/Escuelas/queries" class="custom-menu-item">
    <mat-icon>query_stats</mat-icon> Mostrar Queries
  </button>
</mat-menu>

<!-- Submenú Promociones -->
<mat-menu #menuPromociones="matMenu">
  <p class="menu-section-title">Promociones</p>
  <button mat-menu-item routerLink="/promociones" class="custom-menu-item">
    <mat-icon>attach_money</mat-icon> Listar Promociones
  </button>
  <button mat-menu-item routerLink="/promociones/nuevo" class="custom-menu-item">
    <mat-icon>add_circle</mat-icon> Registrar Promociones
  </button>
  <button mat-menu-item [matMenuTriggerFor]="menuPromocionesInsights" class="custom-menu-item">
    <mat-icon>analytics</mat-icon> Insights
  </button>
</mat-menu>

<!-- Submenú Insights de Promociones -->
<mat-menu #menuPromocionesInsights="matMenu">
  <p class="menu-section-title">Insights de Promociones</p>
  <button mat-menu-item routerLink="/Promociones/queries" class="custom-menu-item">
    <mat-icon>query_stats</mat-icon> Mostrar Queries
  </button>
</mat-menu>

<!-- Submenú Notificaciones -->
<mat-menu #menuNotificaciones="matMenu">
  <p class="menu-section-title">Notificaciones </p>
  <button mat-menu-item routerLink="/notificaciones" class="custom-menu-item">
    <mat-icon>attach_money</mat-icon> Listar Notificaciones
  </button>
  <button mat-menu-item routerLink="/notificaciones/nuevo" class="custom-menu-item">
    <mat-icon>add_circle</mat-icon> Registrar Notificaciones
  </button>
</mat-menu>


<router-outlet></router-outlet>
