<div class="reserva-form-container">
  <h2>Registrar Reserva</h2>
  <form [formGroup]="form" (ngSubmit)="aceptar()">
    <mat-form-field class="example-full-width" *ngIf="edicion">
      <mat-label>Código</mat-label>
      <input matInput formControlName="hcodigo" readonly="readonly"/>
    </mat-form-field>
    <br />

    <mat-form-field>
      <mat-label>Estado</mat-label>
      <mat-select formControlName="hestado">
        @for (a of listaEstados; track a) {
          <mat-option [value]="a.value">{{a.viewValue}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Fecha de Reserva</mat-label>
      <input
      matInput
      [matDatepicker]="picker"
      formControlName="hfecha"
      [min]="today"
    />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Usuario</mat-label>
      <mat-select formControlName="husuario" required>
        <mat-option *ngFor="let user of listausuarios" [value]="user.id">
          {{ user.username }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Escuela</mat-label>
      <mat-select formControlName="hescuela" required>
        <mat-option *ngFor="let escuela of listaescuelas" [value]="escuela.idescuela">
          {{ escuela.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Centro Médico</mat-label>
      <mat-select formControlName="hcentro" required>
        <mat-option *ngFor="let centro of listacentros" [value]="centro.idcentro">
          {{ centro.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Servicio</mat-label>
      <mat-select formControlName="hservicio" required>
        <mat-option *ngFor="let servicio of listaservicios" [value]="servicio.idservicio">
          {{ servicio.nombreServicio }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Promoción</mat-label>
      <mat-select formControlName="hpromocion" required>
        <mat-option *ngFor="let promo of listapromociones" [value]="promo.idpromocion">
          {{ promo.nombrePromocion }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Guardar</button>
      <button mat-button color="warn" type="button" (click)="router.navigate(['reservas'])">Cancelar</button>
    </div>
  </form>
</div>
