<div class="container">
    <div class="title-container">
      <h1>Crear o Editar Calendario</h1>
    </div>
    <form class="example-form" [formGroup]="form" (submit)="aceptar()">
        <mat-form-field class="example-full-width" *ngIf="edicion">
          <mat-label>Código</mat-label>
          <input matInput formControlName="hcodigo" readonly="readonly"/>
        </mat-form-field>
        <br />
      <mat-form-field appearance="outline" class="mat-form-field full-width">
        <mat-label>Fecha de Sincronizacion</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="hfecha" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.get('hfecha')?.hasError('required')">
          La fecha es obligatoria
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Reserva</mat-label>
        <mat-select  formControlName="hreserva">
          @for (r of listaReservas; track r) {
          <mat-option [value]="r.idreserva">{{ r.estadoReserva }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <br />
      <div>
        <button mat-flat-button class="custom-button">Aceptar</button>
      </div>
    </form>
  </div>