<div class="container">
  <div class="title-container">
    <h1>Lista de Reseñas</h1>
  </div>

  <div class="cards-container">
    <mat-card class="mat-card" *ngFor="let element of dataSource.data">
      <mat-card-header>
        <!-- Avatar que muestra la foto de perfil del usuario -->
        <div mat-card-avatar class="avatar" [style.backgroundImage]="'url(' + element.user.fotoPerfil + ')'"></div>
        <mat-card-title>Nombre: {{ element.user.id }}</mat-card-title>
        <mat-card-subtitle>Calificación: {{ element.calificacion }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p><strong>Comentario:</strong> {{ element.comentario }}</p>
        <p><strong>Fecha de Reseña:</strong> {{ element.fechaResenia | date }}</p>
        <p><strong>Nombre Escuela:</strong> {{ element.esc.nombre }}</p>
        <p><strong>Nombre Centro Médico:</strong> {{ element.centros.nombre }}</p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-icon-button color="warn" (click)="eliminar(element.idresenia)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="primary" [routerLink]="['ediciones', element.idresenia]">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <mat-paginator class="custom-paginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
