<div class="container">
    <h1>Registro de Teléfonos</h1>
    <form [formGroup]="form" (ngSubmit)="aceptar()" class="example-form">

        <!-- Número de Teléfono -->
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Número de Teléfono</mat-label>
            <input matInput formControlName="htelefono" placeholder="Ingresa el número de teléfono" />
            <mat-error *ngIf="form.get('htelefono')?.invalid && form.get('htelefono')?.touched">
                El número de teléfono es requerido
            </mat-error>
        </mat-form-field>

        <!-- Tipo de Teléfono -->
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Tipo de Teléfono</mat-label>
            <input matInput formControlName="htipotelefono" placeholder="Ingresa el tipo de teléfono" />
            <mat-error *ngIf="form.get('htipotelefono')?.invalid && form.get('htipotelefono')?.touched">
                El tipo de teléfono es requerido
            </mat-error>
        </mat-form-field>

        <!-- Anexo Escuela -->
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Anexo Escuela</mat-label>
            <input matInput formControlName="hanexoescuela" placeholder="Ingresa el anexo de la escuela" />
        </mat-form-field>

        <!-- Selección de Usuario -->
        <mat-form-field>
            <mat-label>Usuario</mat-label>
            <mat-select formControlName="huser">
                <mat-option *ngFor="let m of listaUsuarios" [value]="m.id">{{ m.name }}</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Selección de Escuela -->
        <mat-form-field>
            <mat-label>Escuela</mat-label>
            <mat-select formControlName="hescuela">
                <mat-option *ngFor="let m of listaEscuelas" [value]="m.idescuela">{{ m.nombre }}</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Selección de Centro Médico -->
        <mat-form-field>
            <mat-label>Centro Médico</mat-label>
            <mat-select formControlName="hcentro">
                <mat-option *ngFor="let m of listaCentros" [value]="m.idcentro">{{ m.nombre }}</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Botón de Guardar -->
        <div class="button-container">
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" class="custom-button">
                Aceptar
            </button>
        </div>

    </form>
</div>