<div class="container">
  <div class="title-container">
    <h1>Lista de Escuelas</h1>
  </div>
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">

      <!-- Código -->
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef class="custom-header">Código</th>
        <td mat-cell *matCellDef="let element">{{ element.idescuela }}</td>
      </ng-container>

      <!-- Servicio -->
      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef class="custom-header">Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
      </ng-container>

      <!-- Descripción -->
      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef class="custom-header">RUC</th>
        <td mat-cell *matCellDef="let element">{{ element.ruc }}</td>
      </ng-container>

      <!-- Imagen -->
      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef class="custom-header">Imagen</th>
        <td mat-cell *matCellDef="let element">
          <img [src]="element.imgEscuela" alt="Imagen de la Escuela" class="image-cell" />
        </td>
      </ng-container>

      <!-- Dirección -->
      <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef class="custom-header">Dirección</th>
        <td mat-cell *matCellDef="let element">{{ element.direccion }}</td>
      </ng-container>

      <!-- Teléfono -->
      <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef class="custom-header">Teléfono</th>
        <td mat-cell *matCellDef="let element">{{ element.numeroTelefono }}</td>
      </ng-container>

      <!-- Actualizar Promoción -->
      <ng-container matColumnDef="accion02">
        <th mat-header-cell *matHeaderCellDef class="custom-header">Actualizar</th>
        <td mat-cell *matCellDef="let element" [routerLink]="['ediciones', element.idescuela]">
          <mat-icon class="action-icon edit-icon">edit</mat-icon>
        </td>
      </ng-container>

      <!-- Eliminar Promoción -->
      <ng-container matColumnDef="accion01">
        <th mat-header-cell *matHeaderCellDef class="custom-header">Eliminar</th>
        <td mat-cell *matCellDef="let element" (click)="eliminar(element.idescuela)">
          <mat-icon class="action-icon delete-icon">delete</mat-icon>
        </td>
      </ng-container>

      <!-- Filas de encabezado y de datos -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator class="custom-paginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
